#showTable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#showTable th, td {
    border: 1px solid black !important;
    text-align: center;
}

#showTable th {
    background-color: #DDEBF7;
    font-size: small;
    max-width: 150px !important;
}

#showTable td{
    width: 180px !important;
}

#showTable .td-btn{
    width: 50px !important;
}

#showTable .small-td {
    width: 170px !important;
}

#showTable .small-input{
    width: 100% !important;
}