body {
  margin: 0;
  padding: 0;
  background-image: url('../public/page-turner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  text-align: center;
  background-color: transparent; /* Trasparente */
  height: 100vh; /* Altezza al 100% della viewport */
  width: 100%;
  position: relative; /* Posizione relativa per allineare i contenuti al centro */
  z-index: 1; /* Per essere sopra lo sfondo del body */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
